In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('play_tennis.csv')

In [4]:
data.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [5]:
data = data.drop('day',axis='columns')

In [6]:
data.head()

    outlook  temp humidity    wind play
0     Sunny   Hot     High    Weak   No
1     Sunny   Hot     High  Strong   No
2  Overcast   Hot     High    Weak  Yes
3      Rain  Mild     High    Weak  Yes
4      Rain  Cool   Normal    Weak  Yes

In [7]:
data.shape

(14, 5)

probability of play YEs or NO

In [8]:
data['play'].value_counts()

Yes    9
No     5
Name: play, dtype: int64

In [9]:
play_yes = 9/14
play_no  = 5/14
print('play yes',play_yes)
print('play no ',play_no)

play yes 0.6428571428571429
play no  0.35714285714285715

probability of outlook for yes

In [11]:
pd.crosstab(data['outlook'],data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [14]:
out_overcast_yes = 4/9
out_rain_yes = 3/9
out_sunny_yes = 2/9

probability of outlook for no

In [15]:
out_overcast_no = 0
out_rain_no = 2/5
out_sunny_no = 3/5

probability of Temp for yes

In [16]:
pd.crosstab(data['temp'],data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [17]:
temp_cool_yes = 3/9
temp_hot_yes = 2/9
temp_mild_yes = 4/9

probability of Temp for no

In [18]:
tem_cool_no = 1/5
temp_hot_no = 2/5
temp_mild_no = 2/5

probability of humidity for yes

In [19]:
pd.crosstab(data['humidity'],data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [20]:
hum_high_yes = 3/9
hum_normal_yes = 6/9

probability of humidity for no

In [21]:
hum_high_no = 4/5
hum_normal_no = 1/5

probability of wind for yes

In [22]:
pd.crosstab(data['wind'],data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [23]:
wind_strong_yes = 3/9
wind_weak_yes = 6/9

probability of wind for no

In [24]:
wind_strong_no = 3/5
wind_weak_no = 2/5

In [28]:
data.head(3)

    outlook temp humidity    wind play
0     Sunny  Hot     High    Weak   No
1     Sunny  Hot     High  Strong   No
2  Overcast  Hot     High    Weak  Yes

In [26]:
# if we have a condition like:- sunny hot high weak 
game_play_yes = out_sunny_yes * temp_hot_yes * hum_high_yes * wind_weak_yes * play_yes
game_play_no = out_sunny_no * temp_hot_no * hum_high_no * wind_weak_no * play_no

if game_play_yes > game_play_no:
    print('play')
else:
    print('No play')

No play

In [29]:
# if we have a condition like:- overcast hot high weak 
game_play_yes = out_overcast_yes * temp_hot_yes * hum_high_yes * wind_weak_yes * play_yes
game_play_no = out_overcast_no * temp_hot_no * hum_high_no * wind_weak_no * play_no

if game_play_yes > game_play_no:
    print('play')
else:
    print('No play')

play